body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#update {
  display: none;
}
#annuler {
  display: none;
}
.relative{
  position: relative;
}
.boxsign {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: solid;
  border-width: 2px;
}

dialog {
  border: none !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
}
div{
  position: relative !important;
}
p {
  font-size: 20px;
}

.text {
  text-transform: uppercase;
}